.root {
  margin-bottom: 10px;
  text-align: center;
}

.configList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
}

.configListItem {
  display: inline-block;
}

.configListItem:not(:last-child) {
  margin-right: 10px;
}
