:root {
  --side-length: 46px;
  --number-color-1: #00f;
  --number-color-2: #0f7001;
  --number-color-3: #fb0000;
  --number-color-4: #1c2c52;
  --number-color-5: #994C00;
  --number-color-6: #0090a8;
  --number-color-7: #000;
  --number-color-8: #6d6d6d;
}

.base {
  float: left;
  display: inline-block;
  width: var(--side-length);
  height: var(--side-length);
  box-sizing: border-box;
  text-align: center;
}

.revealed {
  composes: base;
  border: 2px solid #6d6d6d;
  font-weight: bold;
  line-height: calc(var(--side-length) - 2px * 2);
}

.unrevealed {
  composes: bump from '../shared/styles/box.css';
  composes: base;
  line-height: calc(var(--side-length) - 4px * 2);
}

.marked {
  composes: fontAwesome from '../shared/styles/typography.css';
  composes: unrevealed;
  color: #fb0000;
}

.mined {
  composes: fontAwesome from '../shared/styles/typography.css';
  composes: revealed;
  background-color: #fb0000;
}

.number1 {
  composes: revealed;
  color: var(--number-color-1);
}

.number2 {
  composes: revealed;
  color: var(--number-color-2);
}

.number3 {
  composes: revealed;
  color: var(--number-color-3);
}

.number4 {
  composes: revealed;
  color: var(--number-color-4);
}

.number5 {
  composes: revealed;
  color: var(--number-color-5);
}

.number6 {
  composes: revealed;
  color: var(--number-color-6);
}

.number7 {
  composes: revealed;
  color: var(--number-color-7);
}

.number8 {
  composes: revealed;
  color: var(--number-color-8);
}

.unmarked {
  composes: unrevealed;
}