:root {
  --side-length: 46px;
}

.base {
  float: left;
  display: inline-block;
  width: var(--side-length);
  height: var(--side-length);
  box-sizing: border-box;
  text-align: center;
}

.revealed {
  composes: base;
  border: 2px solid #6d6d6d;
  line-height: calc(var(--side-length) - 2px * 2);
}

.unrevealed {
  composes: bump from '../shared/styles/box.css';
  composes: base;
  line-height: calc(var(--side-length) - 4px * 2);
}

.marked {
  composes: fontAwesome from '../shared/styles/typography.css';
  composes: unrevealed;
  color: #fb0000;
}

.mined {
  composes: fontAwesome from '../shared/styles/typography.css';
  composes: revealed;
  background-color: #fb0000;
}

.unmarked {
  composes: unrevealed;
}