doctype html
html
  head
    title minesweeper
    link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/app.css')
  body
    #container
    script(type='text/javascript', src='javascripts/app.js')
